.card {
    border: 0.2rem solid black;
    width: 100%;
    height: 100%;
}

.card__img {
    height: 60%;
    width: 100%;
}

.card__text {
    padding: 0 5%;
    height: 35%;
}

.card__name {
    text-align: center;
    font-size: 1.7rem;
}

.card__price {
    text-align: center;
    font-size: 1.5rem;
}

.card__description {
    font-size: 1.2rem;
}